.DS_Store
node_modules
npm-debug.log
WebContent/js/src/.module-cache/
WebContent/exsample/dest
.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator.launch
.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator (1).launch
*.launch
