#coupon_info label,
#coupon_list_info label {
  display: block;
  text-align: right;
}

#coupon_info td,
#coupon_list_info td {
  width: 250px;
  height: 50px;
  padding: 5px 5px;
}

#coupon_info {
  margin: 0 auto;
}

#coupon_info input[type="text"],
#coupon_info textarea,
#coupon_info select,
#coupon_info option,
#coupon_list_info select,
#coupon_list_info option {
  width: 100%;
  height: 100%;
}

#coupon_info textarea {
  resize: none;
  overflow: auto;
  min-height: 150px;
}

#coupon_regist {
  width: 200px;
  text-align: center;
}

#coupon_regist button {
  width: 200px;
}

#coupon_page dt {
  text-align: center;
  font-weight: bold;
}
dt#coupon_regist_area {
  color: #F2AECF;
  border: solid 1px #F2AECF;
}
dt#coupon_list_area {
  color: #BAD8D9;
  border: solid 1px #BAD8D9;
}

#coupon_page dd {
  padding: 1em;
  margin-left: 0em;
  margin-top: 0.5em;
  margin-bottom: 3em;
}

dt#coupon_regist_area + dd {
  border: solid 1px #F2AECF;
}
dt#coupon_list_area + dd {
  border: solid 1px #BAD8D9;
}

img.coupon_image_img {
  position: relative;
  background-color: white;
  width: 180px;
  height: 200px;
  color: #CCCCCC;
  text-align: center;
}

#coupon_list_info {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

#coupon_list_info th {
  width: 16%;
  padding: 4px;
  text-align: center;
  vertical-align: top;
  color: #EDF6F5;
  background-color: #75BFBF;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#coupon_list_info td{
  text-align: center;
  padding: 4px 10px;
  background-color: #fafafa;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#coupon_list_info img {
  width: 180px;
  height: 200px;
}

.edit, .delete {
  cursor: pointer;
}
