/* style for login page */
.content {
  width: 1000px;
}
body {
  overflow: scroll;
}

#login_form tr {
  height: 50px;
}

#login_form td {
  text-align: center;
  width: 150px;
}

ul.sidebar-nav>li.active>a {
  color: #FFFFFF;
  background-color: #D99ABB;
}
ul.sidebar-nav>li>a {
  margin: 3px 0;
  border: none;
  color: #848685;
  background-color: #DDCAD4;
}