#reservation_page label{
  display: block;
  text-align: right;
}

#reservation_page td{
  width: 250px;
  height: 50px;
  padding: 5px 5px;
}

#reservation_page {
  margin: 0 auto;
}

#reservation_page input[type="text"],
#reservation_page textarea,
#reservation_page select,
#reservation_page option,
#reservation_list_page select,
#reservation_list_page option {
  width: 100%;
  height: 100%;
}

#reservation_page textarea {
  resize: none;
  overflow: auto;
  min-height: 150px;
}

#reservation_page table{
  border: 1px ;
  width: 100%;
  height: 100%;
}

#reservation_page dt {
  text-align: center;
  font-weight: bold;
}

#reservation_page dd {
  padding: 1em;
  margin-left: 0em;
  margin-top: 0.5em;
  margin-bottom: 3em;
}

dt#reservation_regist_area {
  color: #F2AECF;
  border: solid 1px #F2AECF;
}
dt#reservation_regist_area + dd {
  border: solid 1px #F2AECF;
}

.fn-gantt *,
.fn-gantt *:after,
.fn-gantt *:before {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}

#reservation_table { 
  background-color: #eee;
  border: solid 0px;
  vertical-align: center;
}

#reservation_terms{
width: 100%;
border-color: blue;
border-collapse: collapse;
}
#reservation_terms th{
width: 25%;
padding: 6px;
text-align: left;
vertical-align: center;
color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
}
#reservation_terms td{
width : 10px;
	padding: 6px;
vertical-align: center;
border: 1px solid #b9b9b9;
}
#reservation_terms div{
	margin-top:auto;
	margin-bottom:auto;
}

/*
#reservation_term{
width : 10px;
}
#reservation_term_day{
width : 10px;
height : 100px;
background-color: #eee;
border: 1px solid #b9b9b9;
}
#reservation_term div{
	margin-top:auto;
	margin-bottom:auto;
}
*/



#menu_table{
	background-color: #eee;
	width: 100%;
height: 100%;
border-color: blue;
border-collapse: collapse;
}

#menu_table th{
width: 25%;
padding: 6px;
text-align: left;
vertical-align: top;
//color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
}
#menu_table td{
padding: 6px;
border: 1px solid #b9b9b9;
}

#menu_table_td1{
width: 400px; 
height: 100px; 
}
#menu_table_td2{
width: 400px; 
height: 250px; 
}

#service_category{
width:400px; 
height:100px;
overflow-x:scroll;
vertical-align: top;
margin-left:auto;
margin-right:auto;
}
#service_list_info{
width:400px; 
height:300px; 
overflow-x:scroll;
vertical-align: top;
margin-left:auto;
margin-right:auto;
}

#menu_table2{
width: 100%;
border-color: blue;
border-collapse: collapse;
}
#menu_table2 th{
width: 25%;
padding: 6px;
text-align: left;
vertical-align: top;
color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
}
#menu_table2 td{
padding: 6px;
border: 1px solid #b9b9b9;
}

#memo_td input{
width: 100%;
height:100px;	
}



/*
#reservation_regist {
  text-align: left;
}

#reservation_regist button {
  width: 200px;
}

dt#reservation_list_area {
  color: #BAD8D9;
  border: solid 1px #BAD8D9;
}

dt#reservation_list_area + dd {
  border: solid 1px #BAD8D9;
}

div.reservation_image_path {
  position: relative;
  background-color: white;
  width: 180px;
  height: 250px;
  color: #CCCCCC;
  text-align: center;
}

#reservation_list_page {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

#reservation_list_page th {
  width: 16%;
  padding: 4px;
  text-align: center;
  vertical-align: top;
  color: #EDF6F5;
  background-color: #75BFBF;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#reservation_list_page td{
  text-align: center;
  padding: 4px 10px;
  background-color: #fafafa;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
*/
